

<h1 id="introduction">Introduction</h1>
<p>Le terme “géodésique” est utilisé pour décrire le plus court chemin entre deux points d’une surface courbe. L’étude de ces chemins joue un rôle fondamental dans de divers domaines, notamment dans l’étude des distances sur la Terre (géodésie), d’où ils tirent leur nom.</p>
<p>Par la suite, les géodésiques furent étudiées d’un point de vue mathématique, ce qui donna naissance à un type particulier de géodésique : les <strong>géodésique fermées</strong>.</p>

<h1 id="enjeux">Enjeux</h1>
<h2 id="domaines-dapplication">Domaines d’application</h2>
<p>Le sujet des géodésiques fermées peut sembler être un sujet de niche, réservé à quelques chercheurs, et qui n’a aucune incidence sur le reste de la recherche, ou sur d’autres domaines qui s’éloignent des mathématiques ou de l’informatique.</p>
<p>Nous allons voir que, au contraire, les enjeux des travaux sur le sujet dépassent largement le cadre limité de la recherche en informatique, ou même le cadre de la recherche tout court.</p>
<p>Parmi les domaines d’application possibles, on compte notamment la médecine, où les géodésiques permettent la détection d’arythmies cardiaques. Pour ce faire, on va modéliser un cœur et provoquer des stimulations à des endroits qui ne sont pas stimulés d’habitude. Cela va provoquer des flux d’ions dont on va calculer la diffusion, ce qui va mettre en lumière les zones supposément sujettes à être les endroits où peuvent se trouver la cause de l’arythmie. On aura de nombreuses courbes sur les zones et on ne va garder que celles qui correspondent à des géodésiques fermées. On garde ensuite la plus courte qui correspondra à l’endroit où se trouve la cause l’arythmie.</p>
<p>On compte également des applications plutôt orientées vers l’industrie, où les géodésiques peuvent servir à repérer les parties plus faibles que les autres, dans un système mécanique. En effet, les parties où se trouvent les géodésiques sont plus sujettes à la casse que les autres. Ou encore dans l’exploitation pétrolière, où elles permettent de trouver l’endroit le plus optimal pour forer. Il n’est pas possible de pouvoir récupérer absolument tout le pétrol d’une poche, c’est pour ça que l’on cherche l’endroit où il y aura le moins de perte et les géodésiques permettent de les localiser.</p>
<p>Enfin, nous pouvons noter leur possible utilisation dans un domaine plus artistique, celui de l’animation 3D, où leur utilisation permet de faciliter l’animation des articulations. Il est plus facile de voir où positionner les articulations sur un modèle 3D grâce aux géodésiques et ainsi d’animer des êtres vivants tels que les humains ou encore les animaux. <em>(Je présume, vu que les animaux aussi ont des articulations?) Et j’ai lu un truc à ce propos: Les géodésiques dans l’animation peuvent égaler s’avérer utiles pour calculer la façon dont le corps d’un humain bouge sous les vêtements, notamment pour animer un personnage à partir de vraies images.</em></p>
<h2 id="représentation-informatique">Représentation Informatique</h2>
<p>Un autre enjeu lié aux géodésiques fermées est la difficulté de leur calcul dans un cadre informatique. En effet, les surfaces lisses et “simples” à utiliser que l’on peut représenter en mathématiques sont beaucoup plus difficiles à manipuler dans un contexte informatique, où ces mêmes surfaces sont modélisées par des maillages, un ensemble de tétraèdres qui permettent la représentation d’objets en 3 dimensions en machine.</p>
<p>Lorsque le travail doit être effectué sur des maillages, de nombreux problèmes se posent :</p>
<p>Premièrement, certaines propriétés qui sont vraies dans un contexte continu en mathématiques ne peuvent plus l’être dans un contexte discret comme celui des maillages, auxquels nous sommes limités.</p>
<p>Cette représentation des objets en 3 dimensions pose également un problème de “bruit”. Le mot “<strong>bruit</strong>” est utilisé pour décrire des données non significatives qui peuvent fausser des résultats. Dans notre cas, le <strong>bruit</strong> fait référence à toutes les imperfections de la surface maillée qui peuvent fausser le calcul des géodésiques. Il est donc naturel que l’on souhaite ignorer ce bruit lors des calculs. des géodésiques. La véritable question devient alors : comment distinguer ce qui n’est pas du bruit de ce qui est effectivement du bruit ?</p>
<p>Il est possible de le définir arbitrairement, de demander une valeur de seuil à l’utilisateur, ou encore tout simplement de ne pas chercher à l’éviter. Néanmoins, ces solutions restent insatisfaisantes dans la plupart des cas, mais nous aborderons ce sujet plus en détails dans la suite du rapport.</p>
<p>Enfin, les maillages occupent une grande place en mémoire, surtout pour les objets les plus détaillés, et encore plus pour certains algorithmes qui gardent plusieurs objets en mémoire.</p>

<h1 id="mathématiques">Mathématiques</h1>
<p>Afin de créer des algorithmes complexes, nous avons besoins de propriétés mathématiques sur lesquels baser nos calculs. L’étude de ces courbes sur un plan algorithmique se doit donc d’être lié à leurs études mathématique. Nous allons donc définir les notions importantes pour l’informatique ainsi que les propriétés utilisées dans les Algorithmes.</p>
<h2 id="définir-mathématiquement-une-geodésique-fermée">Définir mathématiquement une geodésique fermée</h2>
<p>Les géodésiques sont définies sur des espaces en trois dimensions. Nous voulons les étudier sur des surfaces imparfaites et imprévisibles. Ces objets sont appelés surface courbe, plus précisément ce sont des espaces Riemanniens sur lesquels s’appliquent la géométrie Riemannienne. Il nous faut donc commencer par définir ces espaces.</p>
<p>Géométrie Riemannienne : La géométrie des espaces courbes de dimension n sur lesquelles les calculs d’angles et de longueurs sont possibles. A MODIFIER.</p>
<p>Pour la suite on se place dans un espace Riemannien, noté E, de dimension 2 sur un objet de dimension 3. Pour tout C, courbe de l’espace E, notons L(C) la longueur de la courbe C.</p>
<p>Comme les longueurs sont calculables, on peut chercher les chemins les plus courts. Les géodésiques sont les lignes chemins les plus courts entre 2 points dans un espace Riemannien. Les géodésiques peuvent être vues comme la généralisation des droites sur des espaces courbes.</p>
<p>Soit <span class="math inline"><em>C</em><sub><em>A</em></sub><sup><em>B</em></sup></span> l’ensemble de toutes les courbes qui relient A et B, on a les définitions suivantes :</p>
<p>Une géodésique de A vers B est une courbe <span class="math inline"><em>γ</em> ∈ <em>C</em><sub><em>A</em></sub><sup><em>B</em></sup></span> telle que <span class="math inline">∀<em>c</em> ∈ <em>C</em><sub><em>A</em></sub><sup><em>B</em></sup>, <em>L</em>(<em>γ</em>) ≤ <em>L</em>(<em>c</em>))</span></p>
<p>Dans l’espace E, la géodésique fermée en un point A est la courbe de distance minimale qui entoure l’objet en suivant sa surface. Ainsi une géodésique fermée est plus courte que toutes les autres boucles passant par A.</p>
<p>Une géodésique fermée <span class="math inline"><em>γ</em> ∈ <em>C</em><sub><em>A</em></sub><sup><em>A</em></sup></span> telle que <span class="math inline">∀<em>c</em> ∈ <em>C</em><sub><em>A</em></sub><sup><em>A</em></sup>, <em>L</em>(<em>γ</em>) ≤ <em>L</em>(<em>c</em>)</span></p>
<p>Soit A un point et <span class="math inline"><em>γ</em></span> une courbe fermée : G(<span class="math inline"><em>γ</em></span>,A) signifie que <span class="math inline"><em>γ</em></span> est une géodésique de A. On appelle géodésique périodique une boucle qui est une géodésique fermée pour tout les points lui appartenant.</p>
<p>Une géodésique périodique <span class="math inline"><em>γ</em> ∈ <em>E</em></span> telle que <span class="math inline">∀<em>A</em> ∈ <em>γ</em>, <em>G</em>(<em>γ</em>, <em>A</em>)</span></p>
<p>Les Constrictions sont un cas particulier de géodésique périodiques. Elle représentent la courbe la plus courte localement.</p>
<p>Soit <span class="math inline"><em>α</em></span> un point de la surface, <span class="math inline"><em>ϵ</em> ∈ ℝ</span> et <span class="math inline"><em>γ</em></span> une courbe telle que <span class="math inline"><em>G</em>(<em>γ</em>, <em>α</em>)</span>. Définissons l’ensemble <span class="math inline"><em>d</em>(<em>γ</em>, <em>ϵ</em>)</span> comme ceci :</p>
<p><span class="math inline">$d(\gamma,\epsilon) = \{X \in E | min(\bigcup\limits_{\alpha \in \gamma}(\bigcup\limits_{c \in C_A^X}(L(c)))) \leq \epsilon$</span>}</p>
<p>Une constriction est une courbe <span class="math inline"><em>γ</em> ∈ <em>C</em><sub><em>A</em></sub><sup><em>A</em></sup></span> telle que <span class="math inline">∃<em>ϵ</em> ∈ ℝ, <em>ϵ</em> &gt; 0</span> tel que <span class="math inline">∀<em>X</em> ∈ <em>d</em>(<em>γ</em>, <em>ϵ</em>), ∀<em>l</em> ∈ <em>C</em><sub><em>X</em></sub><sup><em>X</em></sup>, <em>L</em>(<em>l</em>) &gt; <em>L</em>(<em>γ</em>)</span></p>
<h2 id="propriétés-mathématiques-des-géodésiques-fermées">Propriétés mathématiques des géodésiques fermées</h2>

<h1 id="informatique">Informatique</h1>
<h2 id="principe-des-algorithmes">Principe des algorithmes</h2>
<p>Il existe de nombreux algorithmes permettant de calculer les courbes géodésiques d’un objet en 3 dimensions. Comme nous l’avons évoqué précedemment, les objets en 3 dimensions sont représentés par des maillages en machine, ces algorithmes prennent donc comme entrée un maillage, et fournissent en sortie l’ensemble des courbes géodésiques qui ont été calculées.</p>
<p>La plupart de ces algorithmes reposent sur le même principe que nous allons détailler dans la partie suivante : Ils cherchent une courbe initiale, puis effectuent une opération de glissement qui permet de déplacer cette courbe à la position exacte d’une géodésique. Plusieurs courbes initiales sont calculées, elles se rejoignent parfois en la même géodésique, ou peuvent donner plusieurs géodésiques distinctes.</p>
<p>Ce qui détermine un bon algorithme pour ce problème est particulier : en plus d’avoir l’algorithme le plus rapide et le plus économe en mémoire, il faut que celui-ci trouve toutes les géodésiques pertinentes.</p>
<p>Il est difficile de définir sur un maillage quelles géodésiques sont pertinentes, et lesquelles sont dues au problème du bruit que nous avons évoqué plus haut. En fait, cette difficulté vient directement du fait qu’il est impossible de définir mathématiquement quelles géodésiques sont “pertinentes” et lesquelles ne le sont pas, notamment car la notion de pertinence d’une géodésique est tout à fait humaine.</p>
<p>Nous allons voir quelles ont été les solutions de divers algorithmes pour déterminer quelles courbes initiales sont pertinentes et lesquelles ne le sont pas. Il faudra également comparer ces solutions entre elles et tenter d’expliquer pourquoi chaque algorithme utilise une sa méthode plutôt qu’une autre.</p>
<h2 id="trouver-une-courbe-initiale">Trouver une courbe initiale</h2>
<h2 id="lalgorithme-de-glissement">L’algorithme de glissement</h2>
<p>Nous avons vu comment ces différents algorithmes parviennent (ou ne parviennent pas dans certains cas) à détecter les courbes initiales qui vont servir à calculer les véritables géodésiques de l’objet.</p>
<p>Là où l’étape précédente était riche en diversité de solutions et de méthodes, celle-ci a tendance à mettre tout le monde d’accord.</p>
<p>Même si les algorithmes utilisés en pratique peuvent varier, et que certaines versions fonctionnent mieux que d’autres, le principe du <strong>glissement</strong> demeure le même au travers de tous les algorithmes vus précédemment.</p>
<p>— <strong>Audric je te laisserais mettre des maths là dedans</strong> —</p>
<p>Imaginons que la courbe initiale que nous avons calculé est un élastique qui ne peut que se resserrer. Il est forcé de se déplacer sur l’objet, mais ne peut naturellement pas se déplacer d’un côté qui serait plus large que son diamètre, car cela nécessiterait qu’il puisse s’élargir. Au final, l’élastique se déplacera du côté le plus étroit jusqu’à ne plus pouvoir bouger. C’est à ce moment là que l’on a détecté une constriction.</p>
<p>Notons que la notion de bruit intervient ici également. En effet, <strong>SCHÉMA POUR ILLUSTRER</strong> comme le montre la figure <strong>NUMERO</strong>, le moindre creux causé par le maillage sur la surface immobiliserait la courbe, et donnerait comme résultat une géodésique jugée “non pertinente”.</p>

<h1 id="conclusion">Conclusion</h1>
<p>Ce document a été réalisé en </p>
